/* CAROUSEL */
.carousel{
    height: 800px;
}

/* BIG CAROUSEL */
.gallery{
    height: 500px;
    width: 800px;
    margin: 0 auto;
}



.gallery img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.big-carousel{
    position: relative;
}

/* arrows carousel */
#prev,
#next{
    position: absolute;
    top: 50%;
    color: black;
}

#prev{
    left: 80px;
}

#next{
    right: 80px;
}


/* THUMBNAILS */
.thumbnails{
    height: 100px;
    display: flex;
    justify-content: center;
}

